<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="row" *ngIf="!isLoading">
    <div class="col-12">
        <h3>Alta Cliente</h3>
        <form [formGroup]="clienteForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" novalidate>
        <div class="col-12">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ej. Juan Perez" formControlName="nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo de Contacto</mat-label>
                <mat-select formControlName="tipo">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.id" >
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field>
                <mat-label>Fecha Alta</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="fecha_alta" [value] = fecha_alta>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="date2" #picker3></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" [disabled]="!clienteForm.valid">Guardar</button>
        </div>
        </form>
    </div>
</div>