<div class="container-fluid header">
    <div class="row">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <div class="col-3">
                <span>Angular App</span>
              </div>
              <div class="col-6"></div>
              <div class="col-3">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Clientes</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/alta_cliente">Nuevo Cliente</button>
                  <button mat-menu-item routerLink="/reporte_clientes">Reporte Clientes</button>
                  <button mat-menu-item routerLink="/login">Login</button>
                  <button mat-menu-item routerLink="/signup">Signup</button>
                </mat-menu>
              </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
  </div>