<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="row" *ngIf="!isLoading">
    <div class="col-12">
        <mat-list>
            <div mat-subheader>Lista de Clientes</div>
            <mat-card class="card" *ngFor="let cliente of clientes">
              <div class="row">

                <div style="vertical-align: middle; padding-top: 35px; text-align: center;" class="col-2">
                  <strong mat-line>#{{cliente.id}}</strong>
                </div>
                <div class="col-10">
                  <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line><strong>{{cliente.nombre}}</strong></div>
                    <div mat-line>Tipo de Contacto: {{cliente.tipo}}</div>
                    <div mat-line> {{cliente.fecha_alta | date}} </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink] = "['/editar_cliente', cliente.id]">
                          <mat-icon style="color:rgba(58, 187, 19, 0.904)">create</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon style="color: rgb(255, 20, 20);">delete</mat-icon>
                          <span>Eliminar</span>
                        </button>
                      </mat-menu>
                  </mat-list-item>
                </div>
              </div>
            </mat-card>
          </mat-list>
    </div>
</div>



  