<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="row" *ngIf="!isLoading">
    <mat-card>
        <div class="col-12">
            <h3>Signup</h3>
            <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" ngModel placeholder="Ej. example@mail.com" #emailInput="ngModel" required email>
                    <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput name="password" ngModel type="password" placeholder="password" #passwordInput="ngModel" required>
                    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-12">
                <button mat-raised-button color="primary" type="submit">Registrar</button>
            </div>
            </form>
        </div>
    </mat-card>
</div>